// 2018-04-10
.catalog-product-view #product-options-wrapper .field {
	&:not(:first-child) {margin-top: 1em;}
	.options-list .siwag-options-choice {
		display: inline-block;
		font-size: 12px;
		margin: 0 auto;
		width: 140px;
		// 2018-05-05
		// «Hightlight the selected image-based custom option»
		// https://www.upwork.com/ab/f/contracts/19978962
		.df-border {
			border: 2px solid transparent;
			padding: 4px;
			&:hover {box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);}
			// 2018-07-16 It centers the images horizontally.
			> a {display: block; margin: 0 auto !important; width: 100px;}
		}
		&.df-selected .df-border {
			border-color: #072a5e;
		}
		&, input, label {cursor: pointer;}
		input[type=radio] {opacity:0; position:fixed;} // 2018-05-05 https://stackoverflow.com/a/22462740
		// 2018-07-16 The options titles and prices.
		label[for^=options] {
			font-weight: normal !important;
			text-transform: none !important;
			white-space: normal; // 2018-07-16 It makes the titles wrapping.
			> span {
				display: block;
				// 2018-07-16 The options titles.
				&:first-child {
					color: #5f666f;
					font-size: 0.9rem;
					letter-spacing: 1px;
					line-height: 1rem;
					overflow-wrap: break-word;
					word-wrap: break-word;
					margin-top: 0.3rem;
				}
				// 2018-07-16 The options prices.
				&.price-notice {margin-top: 0.2rem;}
				&.price-notice, &.price-notice * {
					color: rgb(237, 28, 36);
					font-size: 0.9rem;
				}
			}
		}
	}
}