// 2018-04-10
.catalog-product-view #product-options-wrapper .field {
	&:not(:first-child) {margin-top: 1em;}
	.options-list .siwag-options-choice {
		border: 1px solid red;
		display: inline-block;
		font-size: 12px;
		//height: 100px;
		margin: 0 auto;
		width: 160px;
		// 2018-05-05
		// «Hightlight the selected image-based custom option»
		// https://www.upwork.com/ab/f/contracts/19978962
		.df-border {
			border: 2px solid transparent;
			// 2018-05-05 The following values are working too: `inherit`, `inlne-table`, `table`, `table-cell`.
			display: inline-block;
			padding: 4px;
		}
		&.df-selected .df-border {border-color: #29EB33;}
		&, input, label {cursor: pointer;}
		img {display: block;}
		input[type=radio] {opacity:0; position:fixed;} // 2018-05-05 https://stackoverflow.com/a/22462740
		// 2018-07-16 The options titles and prices.
		label[for^=options] {
			font-weight: normal !important;
			white-space: normal;
			> span {
				display: block;
				// 2018-07-16 The options titles.
				&:first-child {
					color: #5f666f;
					font-size: 15px;
					letter-spacing: 1px;
					line-height: 24px;
					overflow-wrap: break-word;
					text-transform: capitalize;
					word-wrap: break-word;
				}
				// 2018-07-16 The options prices.
				&:last-child, &:last-child * {
					color: rgb(237, 28, 36);
					font-size: 16px;
					line-height: 22.8571px;
					text-transform: none;
					//white-space: normal;
				}
			}
		}
	}
}